@import "theme/_main";

// You can add additional styling here
@import "_example";

article.feature {
  flex: 0 0 350px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
  //	border-radius: 3px;
  border-radius: 20px 20px 0 0;
}