@import "theme/_main";

// You can add additional styling here
@import "_example";

article.feature {
  flex: 0 0 350px;
  border: none;
  box-shadow: 0px 0px 15px rgba(0,0,0,0.10);
  //	border-radius: 3px;
  border-radius: 20px 20px 0 0;
}

.footer-groups {
  display: flex;
  justify-content: center;
}

.footer-column {
  flex: 1; /* Chaque colonne prendra autant d'espace disponible */
  text-align: center; /* Centrer le contenu dans chaque colonne */
  margin: 0 10px; /* Espacement entre les colonnes */
}

.footer-links {
  list-style-type: none; /* Supprime les puces de la liste */
  padding: 0;
  display: flex;
  flex-wrap: wrap; /* Permet aux éléments de se regrouper sur plusieurs lignes si nécessaire */
  justify-content: space-between; /* Espace équitablement les logos */
}

.footer-links li {
  flex: 1 0 25%; /* Chaque logo occupe 25% de la largeur de son conteneur */
  margin-bottom: 5px; /* Espacement entre les logos */
  text-align: center; /* Centrer le contenu */
}

.footer-links img {
  max-width: 100%;
  height: auto;
}

.footer-column-name {
  font-weight: bold;
  margin-bottom: 10px;
}

.navbar-item img {
  max-height: 5rem;
}

#search-demo-container {
  max-width: 40em;
  padding: 1em;
  margin: 1em auto;
}
#search-input {
  display: inline-block;
  padding: .5em;
  width: 100%;
  font-size: 0.8em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
ul#results-container {
  padding: 0;
  list-style-type: none;
}

#results-container li {
  margin-bottom: 1.5rem;
}

span.post-meta {
  font-size: 1rem;
}
.center {
  display: block;

  margin-left: 33%;
  margin-right: 33%;
  border-style: solid;
  border-width: 1px;

}
.floatingHero.hasWhiteText.not-full-height.overlay 
{
color:  #ffffff20!important;

}
.navbar.navbar--floating 
{

  background-color:white !important;
}
  